<?xml version="1.0" encoding="utf-8"?>

<!-- See reference : https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file -->

<configuration>

	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="local" value="./LocalNugets" />
	</packageSources>

	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>

	<!-- See https://learn.microsoft.com/en-gb/nuget/consume-packages/package-source-mapping#enabling-package-source-mapping -->
	<packageSourceMapping>
		<!-- key value for <packageSource> should match key values from <packageSources> element -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="local">
			<package pattern="LlamaDash.*" />
		</packageSource>
	</packageSourceMapping>

</configuration>